body {
    display: block;
    margin: 0 auto;
    background-image: url(/assets/backgrounds/neonpaper.jpg);
    background-repeat: repeat;
    background-size: 100vh;
    font-family: "Susu-Jahe",fallback,sans-serif;
}

.title{
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 75px;
    width: 1000px;   
}

h1 {
    font-size: 48px;
    color: whitesmoke;
    filter: drop-shadow(1px 1px 0 black) 
      drop-shadow(-1px 1px 0 black)
      drop-shadow(1px -1px 0 black)
      drop-shadow(-1px -1px 0 black);
}

h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-top: 6px;
}

img {
    display: block;
    max-width: 100%;
}

.wrapper {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    overflow: hidden;
    margin-top: 10px;
    height: 700px;
    width: 1000px;
}

.row {
    display: flex;
    flex-direction: row;
}

.button-nav, .rings {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255, 0.5);
}

.button-nav a {
    height: 31px;
    display: flex;
}

.button-nav_img {
    object-fit: scale-down;
    height: 31px;
    transition: 0.3s ease all;
}

.button-nav_img:hover {
    transform: scale(1.05);
    filter: saturate(1);
}

.nobutton a {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    font-size: 20px;
}

.ringsentry {
    padding: 20px;
}