body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(../assets/backgrounds/pinkpaper.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: scroll;
}

.spacing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    padding-bottom: 25px;
}

h1, h2, h3, h4, button {
    font-family:"Susu-Jahe",fallback,sans-serif;
    text-align: center;
}

h5, p, ol {
    font-family: "OLDSH",fallback,sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 75px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 26px;
    margin-bottom: 20px;
}

button {
    background-color: #00000000;
    border-color: #0000001b;
    font-size: 16px;
    width: 180px;
}

.linkbar {
    background-color: ivory;
    display: flex;
    padding: 5px;
    width: 90%;
    border-radius: 5px;
    justify-content: space-evenly;
}

.title {
    background: ivory;
    width: 90%;
    height: fit-content;
    border-radius: 5px;
    margin-top: 20px;
}

.history {
    background-color: ivory;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider {
    background-color: ivory;
    width: 90%;
    height: 120px;
    border-radius: 5px;
    margin-top: 20px;
}

.gallery-section {
    width: 90%;
    padding: 15px;
}

.rightclick {
    padding: 10px;
    margin-bottom: -24px;
}

#togglevis {
    display: none;
}